:root{
    --primary-color: #FFBD59;
    --secundary-color: #B88940;
}

body{
    margin: 0;
    padding: 10px;
}

#mini-block{
    background-color: black;
    width: 80px;
    height: 5px;
    border-radius: 10px;
    margin: 6vh 0;
}

.titles, .footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.text-header{
    font-family: "Ruda", sans-serif;
}

.text-lorem{
    font-family: "Catamaran", sans-serif;
}

.text-footer{
    font-family: "Open sans", sans-serif;
    font-weight: bold;
}

.gold{
    color: var(--secundary-color);
}

.discount{
    margin: 0.5em 0;
}

h4{
    font-size: 1.2em;
    margin: 0;
}

h3{
    font-size: 1.3em;
    margin: 0;
    font-weight: bold;
}

h2{
    font-size: 1.9em;
    margin: 0;
    font-weight: bold;
}

h1{
    font-size: 6em;
    font-weight: bold;
    margin: 0;
}

.models{
    margin: 3em 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.model{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

img{
    width: 250px;
    height: 350px;
}

.block{
    background-color: var(--primary-color);
    width: 100%;
    height: 5vh;
    margin-bottom: 1.6em;
}

.container-models{
    position: absolute;
    top: 30vh;
    left: 50vh;
}